/* 日本語タイトル用 */
.ja-title {
  font-family: "Sawarabi Gothic";
}
/* 日本語説明用 */
.ja-txt {
  font-family: "Sawarabi Gothic";
}
/* 英語タイトル用 */
.en-title {
  font-family: 'Paytone One', sans-serif;
}
/* 英語説明用 */
.en-txt {
  font-family: 'Blinker', sans-serif;
}
